@import url('https://fonts.cdnfonts.com/css/minimal');

.navbar {
    background-color: #353537 !important;
    font-family: 'Minimal', sans-serif;
}

.navbar a{
    text-decoration: none !important;
}

.navbar button {
    height: 100%;
    cursor: pointer;
    color: whitesmoke !important;
    background-color: #353537 !important;
    border: 0 !important;
    font-weight: 600 !important;
    font-size: 1.4rem !important;
    letter-spacing: 4px;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    margin-right: 2rem !important;
}

.navbar button:hover {
    color: lightskyblue !important;
}

.navbar-brand{
    font-weight: 600 !important;
    font-size: 1.2rem !important;
    letter-spacing: 4px;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='whitesmoke' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='lightskyblue' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar .navbar-toggler-icon:active {
    border: none !important;
}